[submodule "ZipkinService"]
	path = ZipkinService
	url = https://github.com/symbiote-h2020/ZipkinService.git
[submodule "CloudConfigService"]
	path = CloudConfigService
	url = https://github.com/symbiote-h2020/CloudConfigService.git
[submodule "Monitoring"]
	path = Monitoring
	url = https://github.com/symbiote-h2020/Monitoring.git
[submodule "RegistrationHandler"]
	path = RegistrationHandler
	url = https://github.com/symbiote-h2020/RegistrationHandler.git
[submodule "ResourceAccessProxy"]
	path = ResourceAccessProxy
	url = https://github.com/symbiote-h2020/ResourceAccessProxy.git
[submodule "EurekaService"]
	path = EurekaService
	url = https://github.com/symbiote-h2020/EurekaService.git
[submodule "AuthenticationAuthorizationManager"]
	path = AuthenticationAuthorizationManager
	url = https://github.com/symbiote-h2020/AuthenticationAuthorizationManager.git
[submodule "PlatformRegistry"]
	path = PlatformRegistry
	url = https://github.com/symbiote-h2020/PlatformRegistry.git
[submodule "FederationManager"]
	path = FederationManager
	url = https://github.com/symbiote-h2020/FederationManager.git
[submodule "SubscriptionManager"]
	path = SubscriptionManager
	url = https://github.com/symbiote-h2020/SubscriptionManager.git
