[submodule "ZipkinService"]
	path = ZipkinService
	url = https://github.com/symbiote-h2020/ZipkinService.git
[submodule "CloudConfigService"]
	path = CloudConfigService
	url = https://github.com/symbiote-h2020/CloudConfigService.git
[submodule "InterworkingInterface"]
	path = InterworkingInterface
	url = https://github.com/symbiote-h2020/InterworkingInterface.git
[submodule "CloudAuthenticationAuthorizationManager"]
	path = CloudAuthenticationAuthorizationManager
	url = https://github.com/symbiote-h2020/CloudAuthenticationAuthorizationManager.git
[submodule "Monitoring"]
	path = Monitoring
	url = https://github.com/symbiote-h2020/Monitoring.git
[submodule "RegistrationHandler"]
	path = RegistrationHandler
	url = https://github.com/symbiote-h2020/RegistrationHandler.git
[submodule "ResourceAccessProxy"]
	path = ResourceAccessProxy
	url = https://github.com/symbiote-h2020/ResourceAccessProxy.git
[submodule "EurekaService"]
	path = EurekaService
	url = https://github.com/symbiote-h2020/EurekaService.git
